/* Crystal 3D route loader (backgroundless) */

.loader-3d {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96px;
    height: 96px;
    margin: -48px 0 0 -48px;
    border-radius: 50%;
    perspective: 900px;
}

.loader-3d .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0 4px 18px rgba(100, 255, 218, 0.35));
}

.loader-3d .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1.2s linear infinite;
    border-bottom: 3px solid rgba(239, 239, 250, 0.95);
}

.loader-3d .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1.2s linear infinite;
    border-right: 3px solid rgba(239, 239, 250, 0.95);
}

.loader-3d .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1.2s linear infinite;
    border-top: 3px solid rgba(239, 239, 250, 0.95);
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}